@layer base {
  :root {
    --primary-clr: rgb(46, 52, 85);
    --card-title-clr: rgb(235, 235, 235);

    --font-sz-l: 3rem;
    --font-sz-m: 2rem;
    --font-sz-sm: 0.875rem;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: system-ui, sans-serif;
  }

  input,
  textarea,
  button,
  select {
    font: inherit;
  }

  h1 {
    margin-bottom: 80px;
    font-size: var(--font-sz-l);
  }
}
