@layer base {
  :root {
    --primary-clr: rgb(46, 52, 85);
    --card-title-clr: rgb(235, 235, 235);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: system-ui, sans-serif;
  }

  input,
  textarea,
  button,
  select {
    font: inherit;
  }

  h1 {
    margin-bottom: 80px;
  }
}
